# Nuxt
.nuxt
.output
.data
dist

# Node
node_modules
.npm
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Env
.env
.env.*
!.env.example

# Drizzle
drizzle/meta

# Editor
.vscode/*
!.vscode/extensions.json
.idea

# OS
.DS_Store
Thumbs.db

# Logs
logs
*.log

# Misc
*.local
.cache